.box{
	width: 800px;
	height:800px;
	background-color: red;
	position: absolute;
}
.inbox{
	width: 200px;
	height: 250px;
	background-color:#F4F4F4;
	position: absolute;
	border-right: 20px solid black;
}
.bottombox{
	width: 500px;
	height: 220px;
	background-color:#F4F4F4;
	position: absolute;
	border-right: 20px solid black;
}